:root {
    --sabon: linotype-sabon, sans-serif;
    --border: 5px solid black;
}

* {box-sizing: border-box;}


html {
    background: white;
    border: var(--border);
    width: 100%;
    height: auto;
    max-width: 100vw;
    font-family: var(--sabon);
    font-weight: 700;
}

body {
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

/* ------------INDEX.HTML------------ */

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
    top: 0%;
    left: 0%;
    bottom: 0%;
}  

.index-footer {
    background-color: white;
    border-bottom: var(--border);
    border-top: var(--border);
    border-right: var(--border);
    bottom: 0%;
    display: flex;
    flex: 1 1 auto;
    font-size: 1.7vh;
    font-style: italic;
    justify-content: center;
    margin: 0; 
    overflow: hidden;
    position: fixed;
    padding: 2vh;
    text-align: center;
    width: 50%;
}

  .index-header1 {
    bottom: 0;
    border-top: var(--border);
    border-left: var(--border);
}
  
  .index-footer1 {
    border-top: none;
    border-bottom: var(--border);
    border-left: var(--border);
}

.index-header {
    background-color: white;
    border-bottom: var(--border);
    border-top: var(--border);
    border-right: var(--border);
    display: flex;
    font-size: 1.7vh;
    font-style: italic;
    flex: 1 1 auto;
    justify-content: center;
    position: fixed;
    padding: 2vh;
    margin: 0; 
    width: 50%;
    text-align: center;
    top: 0%;
}

.index-hover {
    color: white;
    display: none;
    font-size: 1.5rem;
    position: fixed;
    text-align: center;
    top: 0%;
    width: 50vw;
}

.index:hover + .index-hover{
    background-color: black;
    display: block;
}

  
/* -----------BOX 1-----------*/

.box1 {
    align-items: center;
    border-right: var(--border);
    justify-content: center;
    display: inline-flex;
    height: 100%;
    flex: 1 1 auto;
}
  
.heading1 {
    font-size: 10vh;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin: 0;
    /* border: 2px solid; */
}
  
.heading2 {
    font-size: 5vh;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin: 0;
    font-style: italic;
    /* border: 2px solid; */
}  

/* -----------BOX 2-----------*/

@keyframes scroll {
    0%   {right: 0%;}
    50%  {right: 100%;}
    100% {right: 0%;}
}

.box2 {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.index-top {
    margin-top: 32vh;
    border-bottom: var(--border);
}

.index {
    border-bottom: var(--border); 
    display: inline-block;
    font-size: 1.1rem;
    padding: 0.5vh;
    overflow: hidden;
    white-space: nowrap;
}

.index-bottom {
    margin-top: 35vh;
}

.index-scroll-1 {
    animation: scroll 25s infinite;
    position: relative;
}

.index-scroll-2 {
    animation: scroll 10s infinite;
    position: relative;
}

.index-scroll-3 {
    animation: scroll 20s infinite;
    animation-delay: 1s;
    position: relative;
}

.index-scroll-4 {
    animation: scroll 7s infinite;
    position: relative;
}

.index-scroll-5 {
    animation: scroll 12s infinite;
    position: relative;
}


/* ------------NAVBAR & Footer------------ */
.navbar {
    background-color: white;
    border: var(--border);
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    left: 0%;
    position: fixed;
    overflow: hidden;
    top: 0%;
    width: 100vw;
    padding: 2vh;
    margin: 0; 
} 

.chapter, .footer {
    display: inline;
    font-size: 1.7vh;
    font-style: italic;
    text-align: center;
    background-color: white;
}

.arrow {
    /* border: 1px solid gray; */
    font-size: 1.7vh;
    text-align: center;
}

.footerend {
    background-color: white;
    border: var(--border);
    border-top: var(--border);
    bottom: 0%;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    left: 0%;
    overflow: hidden;
    position: fixed;
    min-width: 0;
    padding: 2vh;
    margin: 0;  
    width: 100vw;
}

/* ------------INTROS------------ */

@keyframes intro {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.chapter-intro {
    border-bottom: var(--border);
    font-size: 2rem;
    font-style: normal;
    padding: 5vh 10vw;
    margin-top: 6vh;
    text-align: center;
}

.intro-text {
    animation: intro 5s;
}

/* CHAPTER 1------------Questions and Exclamations------------ */

.qe-container {
    display: flex;
    flex-direction: column;
    height: auto;
    text-align: center;
}

.q-container2 {
    /* border: 5px solid red; */
    border-bottom: var(--border);
    padding: 5vh 10vw;
    font-size: 1.5rem;
}

.q-container3 {
    /* border: 5px solid red; */
    margin-bottom: 6vh;
    padding: 5vh 10vw;
    font-size: 1.5rem;
    font-style: italic;
}

.q-textcontainer {
    border-bottom: var(--border);
    padding: 3vh 10vw;
    font-size: 1.2rem;
    }

.qe-graphics {
    background-color: black;
    border-bottom: var(--border);
    width: 100%;
    height: auto;
}

/* CHAPTER 2------------Apostrophe------------ */

.apostrophecontainer {
    display: flex;
    flex-direction: column;
    height: auto;
    font-size: 1.5rem;
    font-style: italic;
}

.a-text-top {
    margin: 4vh 20vw 2vh 7vw;
}

.a-text-left {
    text-align: left;
    margin: 2vh 20vw 2vh 7vw;
}

.a-text-right {
    text-align: right;
    margin: 2vh 7vw 2vh 20vw;
}

.a-text-bottom {
    margin-bottom: 10vh;
    font-style: normal;
    text-align: center;
    font-size: 1.7rem;
    padding: 4vh 15vw 3vh;
}

/* CHAPTER 3------------Colons, Periods, and Commas------------ */

@keyframes circle-spin {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }

.commascontainer {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 3vh;
    margin-bottom: 9vh;
    padding: 0 15vw;
}
   
.commastext { 
    display: block;
    padding: 2vh 0;
    font-size: 2vh;
    text-align: center;
    line-height: 2.7vh;
}

.commasgraphic {
    animation: circle-spin 20s infinite;
    display: block;
    padding: 2vh 0;
    height: 100%;
}

@media screen and (min-width: 1200px) {
    .commastext {
        font-size: 1.5rem;
        line-height: 2rem;
        margin: 5vh 0;
    }
    .commastext-last {
        margin: 5vh 0 13vh 0;
    }
    .commascontainer {
        margin: 0 25vh;
    }
}

/* CHAPTER 4------------Verbs and Adverbs------------ */

@keyframes grow-shrink {
    0% {
        font-size: 1rem;
        font-style: italic;
    }
    30% {
        font-size: 2rem;
        font-style: normal;
        line-height: 2.5rem;
    }
    80% {
        font-size: 2rem;
        font-style: normal;
        line-height: 2.5rem;
    }
    100% {
        font-size: 1rem;
        font-style: italic;
    }
}
.v-animation-1 {
    animation: grow-shrink 15s;
    animation-delay: 4s;
}

.v-animation-2 {
    animation: grow-shrink 20s;
    animation-delay: 18s;
}

.v-animation-3 {
    animation: grow-shrink 15s;
    animation-delay: 35s;
}

.verbs-container {
    padding: 4vh;
    margin-bottom: 6vh;
}

.v-text {
    display: block;
    padding: 2vh 0;
    font-size: 1rem;
    font-style: italic;
    text-align: center;
    line-height: 2.7vh;
}

@media screen and (min-width: 1200px) {
    .intro-text {
        margin: 0 30vh;
    }
    
    .verbs-container {
        margin: 0 35vh;
    }

    .v-text {
        margin: 5vh;
    }

    .v-animation-3 {
        margin-bottom: 9vh;
    }
}

/* CHAPTER 5------------Conclusion------------ */

